<md-toolbar  >
  <div class="md-toolbar-tools">
    <div flex style="text-align : center">About Us</div>
    <md-icon style="cursor:pointer" ng-click="ctrl.mdPanelRef.close()" aria-label="Close"> highlight_off </md-icon>
  </div>
</md-toolbar>
 <md-content style = "padding-left: 10px ">
    <p>RxHealth is the world’s first Health Informatics Company that uses symptom-based diagnosis, treatment information for patients and doctors.</p>
    <p>The principle objective is to provide the best healthcare services to every patient everywhere. It’s non-intrusive, seamless technology converts good doctors into excellent doctors by continuously upgrading their knowledge base and reference network. It helps doctors in better diagnosis and prescribing the most effective treatment to patients thus bringing down the time and cost of recovery. </p>
    <p>On the patient side, its technology creates more aware and informed patients by providing them personalized information regarding preventions, doctors, consultations, treatment options, cost, time, precautions etc. </p>
    <p><b>The long-term objective is to create an effective, efficient and seamlessly integrated technology lead medical services ecosystem for better healthcare delivery.</b></p>
 </md-content>
