 <md-toolbar>
  <div class="md-toolbar-tools">
    <div flex style="text-align : center">Add Doctor</div>
     <md-icon style="cursor:pointer"  ng-click="ctrl.mdPanelRef.close()" aria-label="Close"> highlight_off </md-icon>
  </div>
</md-toolbar>
<md-content ng-style="ctrl.obj" layout ="column" layout-align="center">
<div flex style="padding-left:8px;padding-right:8px">
      <md-autocomplete
         ng-disabled="false"
         md-no-cache="noCache"
         md-selected-item="ctrl.selectedItem"
         md-search-text="ctrl.searchText"
         md-selected-item-change="ctrl.add(item)"
         md-items="item in ctrl.search(ctrl.searchText)"
         md-item-text="item.Name"
         md-min-length="3"
         placeholder="Search Doctor"
         md-theme="default">
         <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Name}}</span>
         </md-item-template>
         <md-not-found>
            Please Invite your doctor (Go to Settings)
      <!--    <div layout="row" style="margin-bottom: -48px">
            <md-input-container class="md-block" flex="65">
               <label>Phone Number </label>
               <input type = "number" required limit-to = "10 " name="phone"  min = "1000000000" max = "9999999999" ng-model= "phone">
               <div ng-messages="inviteform.phone.$error">
                 <div ng-message="min,max">Please Enter Valid Mobile Number</div>
               </div>
            </md-input-container>
            <div style="padding-top:15px">
            <md-button ga-on="click" ga-event-category="Invite" ga-event-action="invite"  class="md-raised" layout-align="center" ng-click="invite(phone)" ng-disabled="inviteform.$invalid"> Invite</md-button> 
            </div>
         </div> -->
            <!--               <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
               -->
         </md-not-found>
      </md-autocomplete>
      <md-list class ="md-dense" >
      <md-list-item class="md-2-line secondary-button-padding" ng-repeat ="item in ctrl.selecteddoctors">
          <img ng-src="{{item.Pic}}" class="md-avatar" alt="Image" />
          <div class="md-list-item-text">
            <h3>{{item.Name}}</h3>
            <div ng-show="item.Specs">{{item.Specs}}</div>
          </div>
          <md-button class="md-secondary md-icon-button md-warn">
            <md-icon md-font-set="material-icons" ng-click="ctrl.remove(item)" aria-label="UnCheck"> highlight_off </md-icon>
          </md-button>
          <md-divider></md-divider>
      </md-list-item>
      </md-list>
   </div>
      <md-button class ="md-primary md-raised" ng-disabled ="ctrl.selecteddoctors.length == 0" ng-click ="ctrl.senddoctorrequest()" >SEND Request</md-button>
   </md-content>
