<md-toolbar md-scroll-shrink = "true">
  <div class="md-toolbar-tools">
    <div flex style="text-align : center">{{title}}</div>
    <md-icon style="cursor:pointer" ng-click="ctrl.mdPanelRef.close()" aria-label="Close"> highlight_off </md-icon>
  </div>
</md-toolbar>
<md-content ng-style="ctrl.obj">
  <form name="passwordForm">
    <md-input-container class="md-block">
      <label>Current Password</label>
      <input type="password" required md-no-asterisk name="current" ng-model="ctrl.currpass" ng-blur="ctrl.checkpass()" ng-disabled="ctrl.valid">
      <md-icon style="color : green" ng-font-set="material-icons" ng-if="ctrl.valid">done</md-icon>
      <md-icon style="color : red" ng-font-set="material-icons" ng-if="ctrl.valid === false">error</md-icon>
      <div ng-messages="passwordForm.current.$error">
        <div ng-message="required">Please Enter your current password</div>
      </div>
    </md-input-container>
    <md-progress-linear md-mode="indeterminate" ng-disabled = "!ctrl.check || ctrl.check.$resolved"></md-progress-linear>
    <md-input-container class="md-block" ng-show="ctrl.valid">
      <label>New Password</label>
      <input type="password" required md-no-asterisk name="new" ng-model="ctrl.newpass">
      <div ng-messages="passwordForm.new.$error">
        <div ng-message="required">Please Enter your new password</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block" ng-show="ctrl.valid">
      <label>Confirm Password</label>
      <input type="password" required md-no-asterisk name="confirm" ng-model="ctrl.confirmpass" compare-to="ctrl.newpass">
      <div ng-messages="passwordForm.confirm.$error">
        <div ng-message="required">Please re-enter your new password</div>
        <div ng-message="compareTo">Passwords Doesn't Match</div>
      </div>
    </md-input-container>
    <div ng-show="ctrl.valid">
      <md-button type="submit" ng-disabled="!passwordForm.$valid" ng-click="ctrl.changepass()">Submit</md-button>
      <div>Please login with new password</div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-disabled = "!ctrl.change || ctrl.change.$resolved"></md-progress-linear>
  </form>
</md-content>
