<md-toolbar  >
  <div class="md-toolbar-tools">
    <div flex style="text-align : center">Password</div>
     <md-icon style="cursor:pointer" ng-click="ctrl.mdPanelRef.close()" aria-label="Close"> highlight_off </md-icon>
  </div>
</md-toolbar>

<form name="forgotpasswordform">
<md-content ng-style="ctrl.obj" layout="column">
  <md-card layout-align="center" layout="column">



        <md-input-container class="md-block" ng-hide ="!ctrl.messi">
            <label>Registered Phone Number </label>
            <input type = "number" required md-no-asterisk name="phone" ng-required="true" min = "1000000000" max = "9999999999" ng-model= "user.phone" >
             <div ng-messages="forgotpasswordform.phone.$error">
             <!--  <div ng-message="required">Phone Number is Required</div> -->
              <div ng-message="min,max">Please Enter 10 Digit Phone Number</div>
          </div>
          <md-button  class="md-primary md-raised" ng-disabled ="!ctrl.messi" layout-align ="center center" ng-click="ctrl.sendOTP(user)" >NEXT</md-button>
        </md-input-container>

        <md-input-container class="md-block" ng-hide = "ctrl.messi || ctrl.ronaldo">
            <label>OTP </label>
            <input  type ="number"  ng-model="user.otp">
                <md-button class="pull-right md-raised md-primary"  ng-click="ctrl.sendOTP(user)">Resend Otp </md-button>
              <md-button  class="md-raised md-primary" layout-align ="center center" ng-click="ctrl.verifyOTP(user)" >  Verify
              </md-button>
        </md-input-container>

    <md-input-container class="md-block" ng-show ="ctrl.ronaldo" >
      <label>New Password</label>
      <input  type="password" required md-no-asterisk name="new" ng-model="user.newpass">
      <div ng-messages="forgotpasswordform.new.$error">
        <div ng-message="required">Please Enter your new password</div>
      </div>
      </md-input-container>
    <md-input-container class="md-block" ng-show ="ctrl.ronaldo">
      <label>Confirm Password</label>
      <input  type="password" required md-no-asterisk name="confirm" ng-model="user.confirmpass" compare-to="user.newpass">
      <div ng-messages="forgotpasswordform.confirm.$error">
        <div ng-message="required">Please re-enter your new password</div>
        <div ng-message="compareTo">Passwords Doesn't Match</div>
      </div>
    </md-input-container>
        <div ng-show="ctrl.ronaldo">
      <md-button  class="md-raised md-primary" type="submit" ng-disabled="forgotpasswordform.$invalid" ng-click="ctrl.changepass(user)">Submit</md-button>
      </div>
</md-content>
</form>
